<?xml version="1.0" encoding="utf-8"?>
<!--
 This program is free software. It comes without any warranty, to
 the extent permitted by applicable law. You can redistribute it
 and/or modify it under the terms of the Do What The Fuck You Want
 To Public License, Version 2, as published by Sam Hocevar. See
 http://sam.zoy.org/wtfpl/COPYING for more details.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="example.contentprovider"
          android:versionCode="1"
          android:versionName="1.0">
    <permission android:name="example.contentprovider.READ"
                android:label="Example Data"
                android:protectionLevel="signature"
    />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="ContentProviderActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name="ExampleProvider" 
                  android:readPermission="example.contentprovider.READ"
                  android:label="Example Content Provider"
                  android:authorities="example.contentprovider.provider"
        />
    </application>
</manifest>
